.container {

}

.editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}

.input {
    width: 90%;
}

.btn, .addbtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 3px solid var(--textColor);
    cursor: pointer;
}

.add {
    display: flex;
    gap: 20px;
    position: absolute;
    background-color: var(--bg);
    z-index: 999;
    width: 100%;
    left: 50px;
}

.addbtn {
    width: 32px;
    height: 32px;
}

.title {
    padding: 0 50px;
    margin: 40px 0;
    font-size: 64px;
    font-weight: 500;
    color: var(--textColor);
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.2);
      
}

.title::placeholder {
    color: #8c8c8c;
}

.post {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    background-color: var(--textColor);
    color: var(--bg);
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid var(--textColor);
    font-weight: bolder;
}

.post:hover {
    background-color: var(--bg);
    color: var(--textColor);
}
