.container {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 100px;
    border: none;
    padding: 10px;
    background-color: var(--bg);
    color: var(--textColor);
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid var(--textColor);
    font-weight: 600;
}

.button:disabled {
    opacity: .5;
    cursor: not-allowed;
}